$color : #000222;
$font : 30px;
$margin : 15px auto 50px;
$left-float: left;
$right-float: right;
$center: center;
.ski-day-count {
    padding :50px
}
.total-days{
    font-size:$font;
    color: $color;
    margin: $margin;
    text-align: $center;
}
.powder-days{
    font-size:$font;
    color: $color;
    float: $left-float;
}
.backcountry-days{
    font-size:$font;
    color: $color;
    float: $right-float;
}
.goal-days{
    text-align: $center;
    font-size:$font;
    padding : 75px;
}
.table{
    margin:$margin;
    border: 1px solid #000;
    border-collapse: collapse
}
.table-data{
    font-size : 30px;
    padding: 5px 10px;
    border: 1px solid #000;
}
.menu{
    list-style-type: none;
    margin: 40px;
    padding: 10px;
    font-size: 18px;
}
.menu li a{
    text-decoration: none;
}